.ubicacion {
    display: flex;
    margin: auto;
    margin-bottom: 25px;

    &:hover {
        transform: scale(1.1);
        translate: 10px;
        transition: 1.5s;
    }
}


.formcont {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .tamañoform {
        height: 45px;
        width: 450px;
    }

    .tamañoconsultas {
        width: 450px;
        height: 100px;
    }

    .tamañobtm {
        width: 75px;
    }
}

.btn-form:focus {
    background-color: map-get($map: $colores, $key: "celeste-oscuro");
    transform: scale(1.05);
    justify-items: left;


}